/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/

body{
    text-align:center;
    font-family:'Arial';
    background: #22262d!important;
}

.fork-layout-navbar{
    height:85px;
    margin-bottom:6px !important;
    border-top:0!important;
    border-left:0!important;
    border-right:0!important;
    border-bottom:5px solid #000!important;
}

.fork-layout-header{
    background: #22262d;
    border-top: 2px #383e46 solid;
    border-bottom: 2px #383e46 solid;
}

.fork-layout-header-logo{
    float:left;
    margin-right:10px;
    margin-top: 15px;
    cursor: default;
}

.fork-layout-header-title{
    text-align:left;
    color:#fff;
    float:left;
    text-transform: capitalize;
    font-size:45px;
    float:left;
    line-height:85px;
    cursor: default;
}

.fork-layout-header-links > li > a {
    font-size: 17px;
    color: white !important;
    height: 85px;
}

.fork-layout-header-links > li > a > span {
    position:relative;
    top:20px;
}

.center{
    width:1000px;
    margin:auto;
}

.fork-layout-header-links > li > a:hover {
    font-size: 17px;
    color: #448EC9!important;
    background: none !important;
}

.fork-content{
    background: #f1f1f1;
}

.fork-inner-content{

}

.fork-content-main-banner{
    background:#1b2d40 url(img/background-new_york.png) no-repeat center center;
    height: 550px;
}

.fork-content-main-info{
    position: relative;
    top: 150px;
    z-index:1;
    left:20px;
}

.fork-content-main-title{
    color:#fff;
    font-size:40px;
    text-align:left;
    margin:0;
    padding:0;
}

.fork-content-main-subtitle{
    color:#fff;
    font-size:20px;
    text-align:left;
    padding:5px 5px 5px 25px;
    margin:0;
}

.fork-content-main-search{
    float: left;
}

.fork-content-main-search-field{
    float:left;
    height:40px;
    background:#d7dbe5;
    border:1px solid #71767b;
    padding:5px 15px;
    font-size: 20px;
    color:#767b88;
}

.fork-content-main-search-results{
    background: #22262d;
    border:1px solid #71767b;
    font-size: 20px;
    color:#767b88;
    position:absolute;
    cursor:default;
}

.fork-content-main-search-result{
    padding:5px;
}

.fork-content-main-search-more{
    margin-top:5px;
    border-top:1px dashed #71767b;
}

.fork-content-main-search-result:hover, .fork-content-main-search-more:hover{
    background: #A6A8AB;
}

.fork-content-main-search-result-small{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width:100%;
    font-size:10pt;
}

.fork-content-main-search-submit{
    height: 45px;
    background: url(img/search_button.png) no-repeat;
    display:block;
    float:left;
    margin-left: 10px;
    margin-top: 5px;
}

.fork-content-main-phone{
    position: relative;
    top: 13px;
}

a:link, a:visited{
    text-decoration:none;
    color:#7b90b4;
}

a:active, a:hover{
    color:#9171b1;
}

#banner{
    float:left;
    width:100%;
    height:550px;
    border-bottom:2px #383e46 solid;
}

.paris{
    background:#1b2d40 url(img/background-paris.png) no-repeat center center;
}

.new-york{
    background:#1b2d40 url(img/background-new_york.png) no-repeat center center;
}

#banner .wrapper .phone{
    position:absolute;
    background: url(img/telephone.png) no-repeat;
    width: 484px;
    height: 381px;
    right:0;
    bottom:0;
}

.banner-row{
    position:relative;
    height:550px;
}

.banner-inner-div{
    position:absolute!important;
    bottom:0px!important;
}

#foot{
    margin-top: 20px;
    float:left;
    width:100%;
}

.foot-dark{
    background:#22262d;
    color:#e4e6ea;
    border-top:5px #383e46 solid;
}

.foot-light{
    background:#e4e6ea;
    color:#22262d;
    border-top:1px #b4b9c3 solid;
}

#foot .part{
    width:100%;
    float:left;
    margin-top:10px;
    margin-bottom:5px;
}

#foot .logo{
    float:left;
    width:240px;
}

#foot .logo h5{
    text-align:left;
    float:left;
    padding:0;
    margin:3px 0 0 0;
    text-transform: capitalize;
    font-size:25px;
}

#foot .logo img{
    float:left;
    width:35px;
    height:35px;
    margin-right:10px;
}

#foot .authors{
    float:right;
}

#foot .authors p{
    font-size: 10px;
    text-align:right;
    margin:0;
    padding: 2px;
}

#foot .section{
    height: 150px;
    width: 180px;
    float: left;
    margin: 10px 30px;
}

#foot .section h4{
    width: 100%;
    font-size: 20px;
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 1px solid #b4b9c3;
    float: left;
    margin: 0;
    text-transform: capitalize;
}

#foot .section ul{
    font-size: 13px;
    list-style: square;
    text-align: left;
    clear: both;
    float: left;
    width: 100%;
    margin: 10px 0 0 30px;
    padding: 0;
}

.fork-tile-container{
    width:175px;
    height:225px;
    background: #D6E6C3;
    display:inline-block;
    float: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #fff;
    box-shadow: 0 0 0 1px #eceae2;
}

.fork-tile-image-container{
    width:100%;
    height:100%;
    opacity:1;
    cursor:pointer;
}

.fork-tile-image-container:hover{
    opacity: 0.8;
}

.fork-tile-image-container > img{
    width:100%;
    height:100%;
}

.fork-tile-image-container > div:nth-child(2){
    position: fixed;
    background: white;
    z-index: 1;
    height: 175px;
    width: 30px;
    opacity:0.5;
}

.fork-tile-image-container > div:nth-child(3){
    position: fixed;
    background: white;
    z-index: 1;
    height: 175px;
    width: 30px;
    opacity:0.5;
}

.fork-tile-score{
    width: 15px;
    height: 10px;
    background: grey;
    display: inline-block;
    margin-right: 5px;
    z-index: 2;
    border: 1px solid black;
    top: -11px;
    position: relative;
}

.fork-tile-score > div{
    background: orange;
    height:100%;
}

#show-place h1{
    text-align: left;
    border-bottom: 1px solid #000;
    width:100%;
    padding:5px;
}

.blue-section{
    background: #498fff;
    color: #fff;
}

iframe{
    border:none;
    width: 90%;
    height: 500px;
    margin: 15px;
}

#show-place .bar-section{
    float: left;
    height: 50px;
    margin-right: 20px;
    margin-top: 20px;
    position: relative;
}

#show-place .nav-tabs{
    border-bottom:none!important;
    margin: 10px!important;
}

#show-place .nav-tabs img{
    margin-right: 10px;
    height: 25px;
}
#show-place .nav-tabs span{
    text-decoration: none;
    color: #fff;
}

#show-place .nav-tabs>li.active>a, #show-place .nav-tabs>li.active>a:focus,
#show-place .nav-tabs>li.active>a:hover, #show-place .nav-tabs>li.active>a:link {
    background: #2C5588!important;
    border:none!important;
    border-radius:0!important;
}

#show-place .nav-tabs>li a:active, #show-place .nav-tabs>li a:hover{
    background:none!important;
    border-radius:0!important;
}

#show-place .bar-section a:link, #show-place .bar-section a:visited{
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    text-decoration: none;
}

#show-place .localisation-info{
    float: left;
    clear:both;
    text-align:left;
    margin-left:30px;
}

#show-place .localisation-info img{
    float:left;
    height: 12px;
    margin-top: 4px;
    margin-right: 5px;
}

.fork-filter-bar{
    background: #D6E6C3;
    border: 1px solid #fff;
    box-shadow: 0 0 0 1px #eceae2;
}

.fork-filter-input-container > div{
    padding: 5px;
    border-bottom: 1px solid #ABB89C;
}

.fork-filter-input-container > div:last-child{
    border-bottom: 0px solid #ABB89C;
}

.fork-filter-input-container > div > input{
    float:left;
    background:white;
    border:1px solid #71767b;
    padding:5px 15px;
    font-size: 14px;
    color:#767b88;
    width: 100%;
}

.fork-place-score-add{

}

.fork-place-score-add > div >  div > input{
    width: 100%;
}

.fork-place-score-add > div > div > textarea{
    width: 100%;
    height: 100px;
    resize: none;
}