/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*= require popup.css
*= require profile.css
*/

body{
    text-align:center;
    font-family:'Arial';
    background: #22262d!important;
}

.navbar-toggle{
    border: 1px solid white !important;
    top:15px;
}

.navbar-toggle > .icon-bar{
    background: white;
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.fork-layout-navbar{
    height:85px;
    margin-bottom:6px !important;
    border-top:0!important;
    border-left:0!important;
    border-right:0!important;
    border-bottom:5px solid #000!important;
}

.fork-layout-header{
    background: #22262d;
    border-top: 2px #383e46 solid;
    border-bottom: 2px #383e46 solid;
}

.fork-layout-header-logo{
    float:left;
    margin-right:10px;
    margin-top: 15px;
}

.fork-layout-header-title{
    text-align:left;
    color:#fff;
    float:left;
    text-transform: capitalize;
    font-size:45px;
    float:left;
    line-height:85px;
}

h5.small-application-name{
    color:#fff;
}

h1.place-title{
    border-bottom: 1px solid #899FB5;
    padding-bottom: 5px;
    padding-left: 15px;
}

#show-place .place-rating{
    clear:both;
    text-align:left;
    font-size:25px;
}

#show-place .place-rating .glyphicon{
    color: #ffb300;
    float: left;
    margin: 0px 0px;
    font-size:30px;
}

#show-place .place-rating .summary-count{
    font-size:11px;
    color: #9CA6B9;
}

h1.place-title .edit-options{
    float:right;
    margin-top:20px;
    font-size:12px;
}

h1.place-title .edit-options .glyphicon{
    font-size: 12px;
    float:left;
    margin: -2px 3px;
}

h1.place-title .glyphicon{
    float:left;
    font-size:20px;
    margin:10px 10px 0 0 ;
}

.fork-layout-header-links > li > a {
    font-size: 17px;
    color: white !important;
    height: 85px;
}

.fork-layout-header-links > li > a > span {
    position:relative;
    top:20px;
}

.center{
    width:1000px;
    margin:auto;
}

.fork-layout-header-links > li > a:hover {
    font-size: 17px;
    color: #448EC9!important;
    background: none !important;
}

.fork-content{
    background: #f1f1f1;
}

.fork-inner-content{

}

.fork-content-main-banner{
    background:#1b2d40 url(img/background-new_york.png) no-repeat center center;
    height: 550px;
}

.fork-content-main-info{
    position: relative;
    top: 100px;
    z-index:1;
    left:20px;
}

.fork-content-main-title{
    color:#fff;
    font-size:40px;
    text-align:left;
    margin:0;
    padding:0;
}

.fork-content-main-subtitle{
    color:#fff;
    font-size:20px;
    text-align:left;
    padding:5px 5px 5px 25px;
    margin:0;
}

.fork-content-main-search{
    float: left;
}

.fork-content-main-search-field{
    float:left;
    height:40px;
    background:#d7dbe5;
    border:1px solid #71767b;
    padding:5px 15px;
    font-size: 20px;
    color:#767b88;
}

.fork-content-main-search-results{
    background: #22262d;
    border:1px solid #71767b;
    font-size: 20px;
    color:#767b88;
    position:absolute;
    cursor:default;
}

.fork-content-main-search-result{
    padding:5px;
}

.fork-content-main-search-more{
    margin-top:5px;
    border-top:1px dashed #71767b;
}

.fork-content-main-search-result:hover, .fork-content-main-search-more:hover{
    background: #A6A8AB;
}

.fork-content-main-search-result-small{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width:100%;
    font-size:10pt;
}

.fork-content-main-search-submit{
    height: 45px;
    background: url(img/search_button.png) no-repeat;
    display:block;
    float:left;
    margin-left: 10px;
    margin-top: 5px;
}

.fork-content-main-phone{
    position: relative;
    top: 13px;
}

a:link, a:visited{
    text-decoration:none;
    color:#7b90b4;
}

a:active, a:hover{
    color:#9171b1;
}

.buttons a.btn-default:link, .buttons a.btn-default:visited{
    color:#000;
}

#banner{
    float:left;
    width:100%;
    height:550px;
    border-bottom:2px #383e46 solid;
}

.paris{
    background:#1b2d40 url(img/background-paris.png) no-repeat center center;
}

.new-york{
    background:#1b2d40 url(img/background-new_york.png) no-repeat center center;
}

#banner .wrapper .phone{
    position:absolute;
    background: url(img/telephone.png) no-repeat;
    width: 484px;
    height: 381px;
    right:0;
    bottom:0;
}

.banner-row{
    position:relative;
    height:550px;
}

.banner-inner-div{
    position:absolute!important;
    bottom:0px!important;
}

a.btn-orange:link, a.btn-orange:visited{
    background: #ff7408;
    border-radius:0;
    color:#fff!important;
    border:1px solid #ff7408;
}

a.btn-orange:active, a.btn-orange:hover{
    border:1px solid #fff!important;
}
a.btn-orange:active{
    color:#ff7408!important;
}

.foot-light{
    background:#e4e6ea;
    color:#22262d;
    border-top:1px #b4b9c3 solid;
}

#foot .logo h5{
    text-align:left;
    float:left;
    padding:0;
    margin:3px 0 0 0;
    text-transform: capitalize;
    font-size:25px;
}

#foot .logo img{
    float:left;
    width:35px;
    height:35px;
    margin-right:10px;
}

#foot .authors p{
    font-size: 10px;
    text-align:right;
    margin:0;
    padding: 2px;
}

#foot h4{
    width: 100%;
    font-size: 20px;
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 1px solid #b4b9c3;
    float: left;
    margin: 0;
    text-transform: capitalize;
}

#foot ul{
    font-size: 13px;
    list-style: square;
    text-align: left;
    clear: both;
    float: left;
    width: 100%;
    margin: 10px 0 0 30px;
    padding: 0;
}

.fork-tile-container{
    width:175px;
    height:225px;
    background: #D6E6C3;
    display:inline-block;
    float: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #fff;
    box-shadow: 0 0 0 1px #eceae2;
}

.fork-tile-image-container{
    width:100%;
    height:100%;
    opacity:1;
    cursor:pointer;
}

.fork-tile-image-container:hover{
    opacity: 0.8;
}

.fork-tile-image-container > div:nth-child(2){
    position: fixed;
    background: white;
    z-index: 1;
    height: 175px;
    width: 30px;
    opacity:0.5;
}

.fork-tile-image-container > div:nth-child(3){
    position: fixed;
    background: white;
    z-index: 1;
    height: 175px;
    width: 30px;
    opacity:0.5;
}

.fork-tile-score{
    width: 15px;
    height: 10px;
    background: grey;
    display: inline-block;
    margin-right: 5px;
    z-index: 2;
    border: 1px solid black;
    top: -11px;
    position: relative;
}

.fork-tile-score > div{
    background: orange;
    height:100%;
}

.blue-section h1{
    text-align: left;
    border-bottom: 1px solid #000;
    width:100%;
    padding:5px;
}

.page-section{
    padding-top: 30px;
    padding-bottom: 30px;
    clear:both;
}

.page-section h2{
    width:100%;
    border-bottom: 1px solid rgba(177, 193, 220, 0.69);
    padding:10px;
    margin: 0 0 20px 0;
}

.page-section h2 .glyphicon{
    font-size:18px;
    margin: 5px 10px 0 5px;
}

.page-section .table-striped>tbody>tr:nth-of-type(odd){
    background-color: #f9f9f9;
}

.page-section .td{
    word-wrap:break-word;
}

.blue-section{
    background: #498fff;
    color: #fff;
}

.blue-section table caption{
    color: #fff;
    padding: 0 10px;
}

.blue-section table.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #2C5588;
}

.blue-section table.sortable thead th:hover:not([data-defaultsort=disabled]){
    background:#40526D;
}

.blue-section table a:link, .blue-section table a:visited{
    color: #ffd400;
}

.blue-section a:link, .blue-section a:visited{
    color: #fffb48;
}

.page-footer{
    border-top:5px #383e46 solid;
}

.dark-section{
    background:#22262d;
    color:#e4e6ea;
}

.dark-section table.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #333c46;
}

.dark-section table caption{
    color: #fff;
    padding: 0 10px;
}

.dark-section table.sortable thead th:hover:not([data-defaultsort=disabled]){
    background:#40526D;
}

.dark-section.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #4f4f4f !important;
}

iframe{
    border:none;
    width: 90%;
    height: 500px;
    margin: 15px;
}

.blue-section .bar-section{
    float: left;
    height: 50px;
    margin-right: 20px;
    margin-top: 20px;
    position: relative;
}

.blue-section .nav-tabs{
    border-bottom:none!important;
}

.blue-section .nav-tabs .glyphicon{
    margin-right: 10px;
    font-size: 20px;
    float: left;
    margin-top: -2px;
}
.blue-section .nav-tabs span{
    text-decoration: none;
    color: #fff;
}

.blue-section .nav-tabs .title{
    padding:0;
    margin-top:-5px;
}

.blue-section .nav-tabs>li.active>a, .blue-section .nav-tabs>li.active>a:focus,
.blue-section .nav-tabs>li.active>a:hover, .blue-section .nav-tabs>li.active>a:link {
    background: #2C5588!important;
    border:none!important;
    border-radius:0!important;
}

.blue-section .nav-tabs>li a:active, .blue-section .nav-tabs>li a:hover{
    background:none!important;
    border-radius:0!important;
}

.blue-section .bar-section a:link, .blue-section .bar-section a:visited{
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    text-decoration: none;
}

.blue-section .btn-default{
    color: #7b90b4!important;
}

.tab-content .glyphicon{
    margin:3px 5px;
    font-size: 11px;
}

#place-prices .panel{
    color:#000;
    border-color:#fff;
    border-radius:0;
}

#place-prices .panel .panel-heading{
    background: #498FFF;
    border-radius: 0;
}

#place-prices .panel .well-sm{
    border-radius: 0;
    margin: 0;
    padding-bottom: 0;
    background:none;
}

.fork-filter-bar{
    background: #D6E6C3;
    border: 1px solid #fff;
    box-shadow: 0 0 0 1px #eceae2;
}

.fork-filter-input-container > div{
    padding: 5px;
    border-bottom: 1px solid #ABB89C;
}

.fork-filter-input-container > div:last-child{
    border-bottom: 0px solid #ABB89C;
}

.fork-filter-input-container > div > input{
    float:left;
    background:white;
    border:1px solid #71767b;
    padding:5px 15px;
    font-size: 14px;
    color:#767b88;
    width: 100%;
}

.score-selector > span {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.hover-score{
    color: yellow;
}

.hover-score:active{
    color: #f1f100;
}

.new-score{
    color: #f1f100;
}

.fork-place-score-add{

}

.fork-place-score-add > div >  div > input{
    width: 100%;
}

.fork-place-score-add > div > div > textarea{
    width: 100%;
    height: 100px;
    resize: none;
}

.user-panel{
    position:fixed;
    width:300px;
    height:40px;
    top:300px;
    z-index:5;
    color:black;
    background:#F1F1F1;
    border: 1px solid black;
    border-left: none;
    left:-258px;
}
.user-panel .open-add{
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    left:0px !important;
}

.user-panel.open{
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    left:0px !important;
}

.user-panel.open-remove-active{
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    left:-258px !important;
}

.user-panel > div > div:first-child{
    display: inline-block;
    height: 210px;
    background: #F1F1F1;
    width: 265px;
    position: relative;
    top: -105px;
    left: -8px;
    border: 1px solid black;
}

.profile-tabs > li{
    width:25%;
}


.profile-tabs > li > a > i {
    position: absolute;
    font-size: 23px;
    top: 4px;
}

.profile-tabs > li > a > .icon-small {
    position: absolute;
    font-size: 18px;
    top: 7px;
}


.profile-tabs > li > a > i + span{
    margin-left: 20px;
}

.fork-gallery-container{
    padding-top:10px !important;
    margin-left: 15px !important;
    margin-right:25px !important;
}

.fork-image-container{
    padding:0px;
    margin:10px;
    margin-bottom:0px;
    overflow-x:auto;
    overflow-y:hidden;
}

.fork-image-info{
    height:100%;
    border-bottom: 1px solid #DDD;
    box-shadow:0px -6px 3px -4px #DDD inset;
    z-index:5;
}

.fork-cog{
    margin: 3px 5px;
    padding-top: 10px;
    position:absolute;
    right: 10px;
}

.fork-cog > span{
    font-size: 20px !important;
    cursor: pointer;
    color:#7b90b4;
    z-index: 5;
}

.fork-cog > span:hover{
    color: #54698c;
}

.fork-cog > div{
    position: absolute;
    width: 50px;
    height: 30px;
    top: 8px;left: -10px;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: 1px solid black;
    background: white;
}

.fork-cog > div.ng-hide-remove{
    transition: 0.7s linear all;
    opacity: 1;
}

.fork-cog > div.ng-hide{
    transition: 0.7s linear all;
    opacity: 0;
}

.fork-cog > div > div{
    height: 30px;
    line-height: 30px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background: white;
    width: 200px;
    left: -151px;
    position: relative;
    top: -1px;
    cursor: pointer;
}

.fork-cog > div > div:hover{
    background-color:#DDD;
}

.fork-cog > div > div:first-child{
    margin-top:29px;
    border-top: 1px solid black;
}
.fork-cog > div > div:last-child{
    border-bottom: 1px solid black;
}
.fork-cog > div > div > a, .fork-cog > div > div > a:hover {
    text-decoration: none;
}
.spin-animation{
    animation: rotate360 1s ease-in-out 0s 1;
    -webkit-animation:rotate360 1s ease-in-out 0s 1;
    -moz-animation:rotate360 1s ease-in-out 0s 1;
    -ms-animation:rotate360 1s ease-in-out 0s 1;
    -o-animation:rotate360 1s ease-in-out 0s 1;
}

.fork-add-image.active{
    border-radius: 50px;
    width:75px;
    cursor:pointer;
}

.fork-add-image.active:active{
    box-shadow: 0px 0px 2px 2px green;
}

.fork-accept-cancel{
    position: absolute;
    min-width: 71px;
}

.fork-accept-cancel > span {
    font-size:30px;
    position:relative;
    left: -80px;
    cursor:pointer;
}

.fork-accept-cancel > span:first-child{
    color: #D6E6C3;
}

.fork-accept-cancel > span:first-child:hover{
    color: #879676;
}

.fork-accept-cancel > span:last-child{
    color: #FFA500;
}

.fork-accept-cancel > span:last-child:hover{
    color: #af6900;
}

.fork-image-edit-buttons{
    display:inline-block;
    margin-top: 10px;
}

.fork-image-edit-buttons > div {
    display:inline-block;
    padding:10px;
    background:#337ab7;
    color:white;
    border: 1px solid #fff;
    box-shadow: 0 0 0 1px #eceae2;
    margin-bottom: 5px;
}

.fork-image-edit-buttons > div.active{
    background: #2A6496;
}

.fork-image-edit-buttons > div:hover  {
    cursor:pointer;
    background: #2A6496;
}

.fork-image-edit-buttons > div.active:hover{
    cursor:default;
}

.fork-image-edit-buttons-group{
    display:inline-block;
    background:#D6E6C3;
    border: 1px solid #fff;
    box-shadow: 0 0 0 1px #eceae2;
    margin-bottom: 5px;
}

.fork-image-edit-buttons-group > div {
    display:inline-block;
    padding:10px;
}

.fork-image-edit-buttons-group > div:hover  {
    cursor:pointer;
    background: #96a682;
}


@-webkit-keyframes rotate360{
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
    }
}
@-moz-keyframes rotate360{
    from {
        -moz-transform:rotate(0deg);
    }
    to {
        -moz-transform:rotate(360deg);
    }
}
@-ms-keyframes rotate360{
    from {
        -ms-transform:rotate(0deg);
    }
    to {
        -ms-transform:rotate(360deg);
    }
}
@-o-keyframes rotate360{
    from {
        -o-transform:rotate(0deg);
    }
    to {
        -o-transform:rotate(360deg);
    }
}
@keyframes rotate360{
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.fork-link-search-result > div {
    line-height: 50px;

}

.fork-link-search-result > div > div {
    height: 50px;
    border:2px solid black;
    background: #777;
    font-size: 20px;
    color:white;
    text-shadow: 1px 1px black;
    cursor:pointer;
}

.fork-link-search-result > div > div:hover {
    box-shadow: 0px 0px 2px 2px #29ff0e inset;
}

.fork-link-search-result > div > div:active {
    border:2px solid #20a60b;
}

.fork-link-container{
    overflow:auto;
    height:56vh;
    margin-right: 25px;
}

.fork-link-container > input {
    margin-top:50px;
    width:80%;
    font-size:25px;
    padding: 5px 15px;
}

.fork-link-container > div {
    margin:auto;
    width:80%;
    margin-top: 50px;
    height: auto;
    margin-bottom:10px;
}

#place-type button{
    text-align:left;
}

.admin-image-tile{
    width: 250px;
    margin: 15px;
    padding: 5px;
    border: 1px solid #CECECE;
    text-align: center;
    height: 290px;
    overflow:hidden;
}

.admin-image-tile .image-container{
    height:150px;
    width: 100%;
    background: #E0E0E0;
    vertical-align: middle;
    white-space: nowrap;
}

.admin-image-tile .image-container .helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.admin-image-tile .image-container img{
    max-height: 150px;
    max-width: 93%;
    clear:both;
}

.admin-image-tile .pos{
    clear:both;
    margin: 2px 0;
    text-align: left;
}

/* HIDING "SELECT ALL" OPTION ON MULTISELECT ELEMENTS */
.multiselect-container .multiselect-all{
    display:none!important;
}

hr {
    height: 2px;
    border-color:#CCCCE0!important;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 75%;
}

.fork-list-loading-more{
    width:100%;
    height:50px;
    background: transparent;
    float: right;
    border: 1px solid #DDD;
    line-height: 50px;
    font-size: 20px;
    color: #448EC9;
}

.fork-list-loading-more > span{
    position: unset !important;
    top: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
    font-size: 0.8em !important;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.fork-star{
    font-size: 20px !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: -1px !important;
    cursor:default;
}

.fork-star.active {
    color: #F9FF00;
}

.fork-table{
    table-layout: fixed;
    cursor:default;
}

.fork-table > thead > tr {
    background:#498FFF;
    color: white;
}

.fork-table > tbody > tr:not(.inactive) {
    cursor:pointer;
}

.fork-table > tbody > tr:nth-child(odd) {
    background: white;
}

.fork-table > tbody > tr:nth-child(odd):hover:not(.inactive) {
    background: #EEE;
}

.fork-table > tbody > tr:nth-child(even) {
    background: #96BEFF;
}

.fork-table > tbody > tr:nth-child(even):hover:not(.inactive) {
    background: #639FFF;
}

.flashmsg{
    padding: 10px;
    border: 1px solid black;
    background: #B90000;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 1px 1px 1px black
}
.msg{
    padding: 10px;
    border: 1px solid black;
    background: white;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 1px 1px 1px black
}

.successmsg{
    padding: 10px;
    border: 1px solid black;
    background: #0fff16;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 1px 1px 1px black
}