.profile-container{
    margin:20px;
    position: relative;
    padding-right: 50px;
    width:100%
}

.profile-container > div {
    position: relative;
}

.fork-profile-button{
    height:30px;
    width:100%;
    line-height: 30px;
    border-button: 1px solid #DDD;
    cursor:pointer;
}

.fork-profile-button:hover{
    background: #EFEFEF;
}


.fork-friends-header{
    width:100%;
    height:40px;
    position:relative;
    line-height:38px;
    border-bottom: 1px solid #DDD;
}

.fork-friends-header > div {
    margin-left: 30px;
}

.fork-friends-search{
    margin-top: 10px;
}

.fork-friends-search > input{
    float: left;
    width: 300px;
    margin-left: 20px;
    padding: 10px;
}

.fork-friends-search > div{
    width: 100%;
    float:left;

}

.fork-friend{
    float:left;
    width: 300px;
    border: 1px solid #DDD;
    margin: 20px;
    height: 75px
}
.fork-friend > div{
    display:inline-block;
    height: 75px;
    text-align: left;
    vertical-align: middle;
}

.fork-friend > div:first-child {
    width: 75px;
    float:left;
}

.fork-friend > div:last-child {
    width: 220px;
    line-height: 75px;
}

.fork-friend-icon-add {
    font-size: 2em !important;
    line-height: 67px !important;
    color:#D6E6C3;
    cursor:pointer;
    text-shadow:
            1px 1px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
}
.fork-friend-icon-add:hover{
    color:rgb(150, 166, 130);
}

.fork-friend-icon-add.active {
    color: #ffbe00;
    cursor:default;
}

.fork-friend-icon-add.active:hover {
    color: #ffbe00;
}

.fork-profile-info{
    display:block;
    width:calc(100% - 55px);
    font-size:12px;
    text-align:left;
    margin-left:30px;
}

.fork-profile-activity{
    height:220px;
    border: 1px #DDD solid;
    margin-bottom: 25px;
}

.fork-profile-activity > .header {
    height:60px;
}

.fork-profile-activity > .header > div:first-child {
    float: left;
    margin: 10px 0px;
    line-height: 20px;
    height: 40px;
}

.fork-profile-activity > .header > div:nth-child(2) {
    float: left;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
}